.posts {
    td:hover {
	.action {
	    display: inline;
	}
    }

    .header {
	display: flex;

	.title {
	    flex: 1;
	}
	.new_post {
	    flex: 11;
	    margin-top: 5px;
	}
    }

    .action {
	display: none;

	ul {
	    font-size: .75em;
	    margin: 0;
	    list-style: none;
	    padding: 0;

	    li {
		border-left: 1px solid #ccc;
		display: inline-block;
		margin: 0 5px 0 5px;
		padding: 0 5px 0 5px;

		a { color: #ccc; }
		a:hover { color: #363636; }
	    }

	    li:first-child {
		border: none;
		margin: 0 5px 0 0;
		padding: 0 5px 0 0;
	    }
	}
    }
}
